/* Network troubleshooting page */

/* Custom width for rccl errors table */
table.rccl-errors {
    table-layout: fixed !important;
    width: 100% !important;
}
table.rccl-errors th:nth-child(1),
table.rccl-errors td:nth-child(1) {
    width: 40% !important;
}
table.rccl-errors th:nth-child(2),
table.rccl-errors td:nth-child(2) {
    width: 60% !important;
}

/* Custom width for rdma errors table */
table.rdma-errors {
    table-layout: fixed !important;
    width: 100% !important;
}
table.rdma-errors th:nth-child(1),
table.rdma-errors td:nth-child(1) {
    width: 40% !important;
}
table.rdma-errors th:nth-child(2),
table.rdma-errors td:nth-child(2) {
    width: 60% !important;
}

/* Remove white background from topology diagrams in dark mode */
html[data-theme=dark] .bd-content img {
    background-color: transparent !important;
}

/* Restore normal brightness for images in dark mode */
html[data-theme=dark] .bd-content img:not(.only-dark,.dark-light) {
    filter: brightness(1) contrast(1) !important;
}

/* Add neutral grey background for images in light mode */
html:not([data-theme=dark]) .bd-content img {
    background-color: #777 !important;
}

